In [6]:
#Task: 01
#a

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)


n = 5
result = factorial(n)
print(f"The factorial of {n} is {result}")

The factorial of 5 is 120

In [7]:
#Task: 01
#b

def fibonacci(n):
  if n <= 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

n = 6
result = fibonacci(n)
print(f"The n-th fibonacci number is : {result}")

The n-th fibonacci number is : 8

In [8]:
#Task: 01
#c

def PrintArray(arr,idx):
  if idx == len(arr):
    return
  else:
    print(arr[idx])
    PrintArray(arr, idx + 1)

arr = [1, 2, 3, 4, 5]
PrintArray(arr, 0)

1
2
3
4
5

In [9]:
#Task: 01
#d

def powerN(base, n):
    if n == 0:
        return 1
    else:
        return base * powerN(base, n - 1)


base = 3
n = 2
result = powerN(base, n)
print(f"{base} to the power of {n} is {result}")

3 to the power of 2 is 9

In [11]:
#Task: 02
#a

def decimal_to_binary(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return decimal_to_binary(n//2) + str(n%2)

decimal_number = int(input("Enter a decimal number: "))
binary_representation = decimal_to_binary(decimal_number)
print(f"The binary representation of {decimal_number} is: {binary_representation}")

Enter a decimal number: 55
The binary representation of 55 is: 110111

In [12]:
#2
#b

class Node:
    def __init__(self, element, next=None):
        self.element = element
        self.next = next


class SinglyLinkedList:
    def __init__(self, array):
        node = Node(array[0])
        self.head = node
        for i in range(1, len(array)):
            node.next = Node(array[i])
            node = node.next

    def __str__(self):
        result = ""
        itr = self.head
        while itr != None:
            result += str(itr.element) + " "
            itr = itr.next
        return result


def add_all(head):
    if head == None:
        return 0
    else:
        return head.element + add_all(head.next)



sll = SinglyLinkedList([10, 20, 30, 40, 50])
print("The list is: ", sll)
print("The sum of all elements is: ", add_all(sll.head))

The list is:  10 20 30 40 50
The sum of all elements is:  150

In [13]:
#2
#c

class Node:
    def __init__(self, element, next=None):
        self.element = element
        self.next = next


class SinglyLinkedList:
    def __init__(self, array):
        node = Node(array[0])
        self.head = node
        for i in range(1, len(array)):
            node.next = Node(array[i])
            node = node.next

    def __str__(self):
        result = ""
        itr = self.head
        while itr != None:
            result += str(itr.element) + ""
            itr = itr.next
        return result


def printReversed(head):
    if head == None:
        return
    else:
        printReversed(head.next)
        print(head.element)


sll = SinglyLinkedList([10, 20, 30, 40])

printReversed(sll.head)

40
30
20
10

In [ ]:
#3

def hocBuilder(height):
    if height == 0:
        return 0
    elif height == 1:
        return 8
    else:
        return hocBuilder(height-1) + 5


height = int(input("Enter the height of the HOC: "))
print("Cards Required:",hocBuilder(height))

Enter the height of the HOC: 3
Cards Required: 18

In [2]:
#4
#a

def left(rows, n):

    def series(rows, n):
        if rows == 0:
            return
        print(n, end="")
        series(rows-1, n+1)

    if rows == 0:
        return

    series(n - rows+1, 1)
    print()
    left(rows-1, n)


left(5, 5)

1
12
123
1234
12345

In [3]:
#4
#b

def right(rows, n):

    def series(rows, n):
        if rows == 0:
            return
        print(n, end="")
        series(rows-1, n+1)

    def white_spaces(n):
        if n == 0:
            return
        print(" ", end="")
        white_spaces(n-1)

    if rows == 0:
        return

    white_spaces(rows-1)
    series(n - rows+1, 1)
    print()
    right(rows-1, n)


right(5, 5)

    1
   12
  123
 1234
12345

In [4]:
#5

class FinalQ:

    def __init__(self):
        pass


    def print(self, array, idx):
        if(idx < len(array)):
            profit = self.calcProfit(array[idx])
            print(f'{idx + 1}. Investment: {array[idx]}; Profit: {profit}')
            self.print(array, idx+1)
        else:
            return



    def calcProfit(self, investment):
        if investment <= 25000:
            return 0.0

        elif 25000 < investment <= 100000:
            return 45.0 + self.calcProfit(investment-1000)

        elif 100000 < investment:
            return 80.0 + self.calcProfit(investment-1000)


array = [25000, 100000, 250000, 350000]
f = FinalQ()
f.print(array,0)

1. Investment: 25000; Profit: 0.0
2. Investment: 100000; Profit: 3375.0
3. Investment: 250000; Profit: 15375.0
4. Investment: 350000; Profit: 23375.0

In [14]:
#MUST FINISH Recursion Task Lab

def flattenList(given_list, output_list):
    if len(given_list) == 0:
        return output_list
    if isinstance(given_list[0], list):
        output_list = flattenList(given_list[0], output_list)
    else:
        output_list.append(given_list[0])
    return flattenList(given_list[1:], output_list)

given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output_list = flattenList(given_list, [])
print(output_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]